<div class="container">
  <div class="row">
    <div class="col-5">
      <h1>Шаг 2</h1>
      <form [formGroup]="form" autocomplete="off">

        <div formGroupName="registrationAddress">

          <h2>Адрес регистрациии</h2>

          <div class="form-group">

            <input type="text" class="form-control"
                   placeholder="Регион*"
                   required maxlength="75" pattern="[а-яА-ЯёЁ\s\-]*"
                   formControlName="region">

            <app-validation-message></app-validation-message>

          </div>

          <div class="form-group">

            <input type="text" class="form-control"
                   placeholder="Город*"
                   required maxlength="75" pattern="[а-яА-ЯёЁ\s\-]*"
                   formControlName="city">

            <app-validation-message></app-validation-message>

          </div>

          <div class="form-group">

            <input type="text" class="form-control"
                   placeholder="Улица*"
                   required maxlength="75" pattern="[а-яА-ЯёЁ\s\-]*"
                   formControlName="street">

            <app-validation-message></app-validation-message>

          </div>




          <div class="form-group">

            <input type="text" class="form-control"
                   placeholder="Дом*"
                   required maxlength="5" pattern="[\dа-яА-ЯёЁ\s\-]*"
                   formControlName="house">

            <app-validation-message></app-validation-message>

          </div>

          <div class="form-group">

            <input type="text" class="form-control"
                   placeholder="Корпус"
                   maxlength="5" pattern="[\dа-яА-ЯёЁ\s\-]*"
                   formControlName="building">

          </div>

          <div class="form-group">

            <input type="text" class="form-control"
                   placeholder="Строение"
                   maxlength="5" pattern="[\dа-яА-ЯёЁ\s\-]*"
                   formControlName="subBuilding">

          </div>

          <div class="form-group">

            <input type="text" class="form-control"
                   placeholder="Квартира"
                   maxlength="5" pattern="[\dа-яА-ЯёЁ\s\-]*"
                   formControlName="flat">

          </div>

        </div>

        <div class="form-group">

          <input type="text" class="form-control"
                 placeholder="address@mail.ru"
                 required maxlength="75" pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$"
                 formControlName="email">

          <app-validation-message></app-validation-message>

        </div>




        <div class="d-inline-flex mt-5 justify-content-center" [class.disbled]="form.valid">
          <button class="btn btn-success btn-lg text-center mb-3" (click)="onNextClick()">Далее</button>
        </div>

      </form>

    </div>

    <!--<div class="col-5 align-self-center">
      <p>
        Статус формы: {{form.status}}
      </p>

      <p>
        Значение формы: {{JSON.stringify(form.value)}}
      </p>
    </div>-->
  </div>
</div>
