<div class="container">
  <div class="row">
    <div class="col-5">
      <form [formGroup]="form" autocomplete="off">

        <div class="form-group">

          <label class="form-control-label" for="lastName">Фамилия*</label>

          <input type="text" class="form-control" id="lastName"
                 placeholder="Фамилия"
                 required maxlength="75" pattern="[а-яА-ЯёЁ\s\-]*"
                 formControlName="lastName">

          <app-validation-message></app-validation-message>

        </div>

        <div class="form-group">

          <label class="form-control-label" for="firstName">Имя*</label>

          <input
            type="text" class="form-control" id="firstName"
            placeholder="Имя"
            required maxlength="75" pattern="[а-яА-ЯёЁ\s\-]*"
            formControlName="firstName">

          <app-validation-message></app-validation-message>

        </div>

        <div class="form-group">

          <label class="form-control-label" for="middleName">Отчество</label>

          <input
            type="text" class="form-control" id="middleName"
            placeholder="Отчество"
            maxlength="75" pattern="[а-яА-ЯёЁ\s\-]*"
            formControlName="middleName">

          <app-validation-message></app-validation-message>

        </div>

        <div class="form-group">

          <label class="form-control-label" for="birthDate">Дата рождения*</label>

          <input type="text" class="form-control" id="birthDate"
                 required
                 app-date [app-min]="BIRTH_DATE_MIN" [app-max]="BIRTH_DATE_MAX"
                 [textMask]="dateTextMaskService.conf"
                 formControlName="birthDate">

          <app-validation-message></app-validation-message>

        </div>

        <div class="form-group">

          <label class="form-control-label">Пол*</label>

          <br>

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" id="sexMale"
                     required
                     name="sex" value="MALE"
                     formControlName="sex">
              Мужской
            </label>
          </div>

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" id="sexFemale"
                     required
                     name="sex" value="FEMALE"
                     formControlName="sex">
              Женский
            </label>
          </div>

          <app-validation-message></app-validation-message>

        </div>

        <div class="form-group">

          <label class="form-control-label" for="phoneNumber">Телефон*</label>

          <div class="d-flex">

            <span class="align-self-center">+7</span>

            <input type="text" class="form-control ml-2 flex-width-rest" id="phoneNumber"
                   size="1"
                   required minlength="10"
                   app-phone
                   [textMask]="phoneTextMaskService.conf"
                   formControlName="phoneNumber">

            <button class="btn btn-success ml-2">Подтвердить</button>

          </div>

          <app-validation-message></app-validation-message>

        </div>

        <div class="form-group">

          <div class="d-flex mt-4">
            <app-checkbox formControlName="consentToEverything" required></app-checkbox>
            <div class="flex-width-rest ml-2 text-justify">
              Подтверждаю свое согласие с Правилами предоставления
              и обслуживания микрозаймов, предоставляю согласие с
              Договором принятия на обслуживание, согласие на обработку
              персональных данных и согласие на раскрытие информации,
              содержащейся в основной части кредитной истории.
            </div>
          </div>

          <app-validation-message></app-validation-message>

        </div>

        <div class="form-group">

          <div class="d-flex mt-4">
            <app-checkbox formControlName="consentToReceivingInfo" required></app-checkbox>
            <div class="flex-width-rest ml-2 text-justify">
              Подтверждаю свое согласие на получение информации
            </div>
          </div>

          <app-validation-message></app-validation-message>

        </div>

        <div class="d-inline-flex mt-5 justify-content-center" [class.disbled]="form.valid">
          <button class="btn btn-success btn-lg text-center mb-3" (click)="onNextClick()">Далее</button>
        </div>

      </form>

    </div>

    <div class="col-5 align-self-center">
      <p>
        Статус формы: {{form.status}}
      </p>

      <p>
        Значение формы: {{JSON.stringify(form.value)}}
      </p>
    </div>
  </div>
</div>
